<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请假申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/js/jquery.min.js"></script>
    <style>
        input {
            text-align: center;
        }

        .layui-table td, .layui-table th {
            position: relative;
            padding: 0px 2px;
            min-height: 20px;
            line-height: 20px;
            font-size: 14px;
        }

        /*更改table鼠标触碰变色的问题*/
        .layui-table tbody tr:hover, .layui-table-hover {
            background-color: transparent;
        }

        .layui-form-select .layui-select-group dd {
            padding-left: 20px;
            color: #1e9fff;
        }
    </style>
</head>
<body>
<div style="position:fixed;width:100%;">
    <form class="layui-form">
        <table class="layui-table">
            <tr>
                <td>申请人</td>
                <td>
                    <input type="text" id="username" lay-verify="required" autocomplete="off" readonly
                           class="layui-input">
                    <input type="hidden" name="userid" id="userid" lay-verify="required" class="layui-input">
                </td>
            </tr>
            <tr>
                <td>请假事由</td>
                <td>
                    <select id="type" name="str1" lay-verify="required"></select>
                </td>
            </tr>
            <tr>
                <td>请假开始时间</td>
                <td>
                    <input id="time" name="startTime" type="text" lay-verify="required" class="layui-input"
                           placeholder="yyyy-MM-dd HH:mm:ss" onfocus="this.blur()"/>
                </td>
            </tr>
            <tr>
                <td>请假时长</td>
                <td>
                    <select id="Duration" name="Duration" lay-verify="required"></select>
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td>
                    <input type="text" name="marke" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <td colspan="2"><br>
                    <button class="layui-btn layui-btn-fluid layui-btn-normal layui-btn-lg" lay-submit=""
                            lay-filter="editButton"><i class="layui-icon">&#xe608;</i>申请
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/static/layui/layui.js" charset="UTF-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        let laydate = layui.laydate;
        var $ = layui.jquery, layer = layui.layer;
        let num = "";
        a = 0.5;
        for (let i = 1; i < 101; i++) {
            let b = a * i;
            num += "<option value='" + b + "'>" + b + " 天</option>"
        }
        $("#username").val(localStorage.getItem("name"));
        $("#userid").val(localStorage.getItem("id"));
        $("#Duration").html(num);


        let date = new Date();
        let M = date.getMinutes();
        M = M > 9 ? M : "0" + M;
        $.ajax({
            url: "/calendar/GetDayIsTrue?userid=" + localStorage.getItem("id"),
            headers: {
                token: localStorage.getItem("token")
            },
            success: function (data) {
                let code = data.code;
                if (code == 200) {
                    layer.msg(data.mes);
                    $("#time").val(data.data);
                } else {
                    let time = laydate.render({
                        elem: '#time',
                        value: date,
                        isInitValue: true,
                        type: 'datetime',
                        trigger: 'click',
                        zIndex: 99999999,
                        theme: 'grid',
                        position: 'fixed',
                        min: date.getHours() + ":" + M + ":" + date.getSeconds(),
                        max: '23:59:59',
                    });
                    parent.layer.msg(data.mes);
                }
            }, error: function (data) {
                layer.msg('网络发送请求出错！请尝试刷新！', {icon: 5});
            }
        })


        $.ajax({
            url: "/Leeave/type",
            headers: {
                token: localStorage.getItem("token")
            },
            success: function (data) {
                let code = data.code;
                if (code == 200) {
                    let values = "";
                    let da = data.data;
                    for (let i = 0; i < da.length; i++) {
                        values += "<option value='" + da[i].code + "'>" + da[i].data + "</option>";
                    }
                    $("#type").html(values);
                    form.render();
                } else {
                    parent.layer.msg(data.mes);
                }
            }, error: function (data) {
                layer.msg('网络发送请求出错！请尝试刷新！', {icon: 5});
            }
        });

        form.on('submit(editButton)', function (data) {
            $.ajax({
                url: "/Leeave/AddData",
                type: "POST",
                datatype: "json",
                data: data.field,
                headers: {
                    token: localStorage.getItem("token")
                },
                success: function (data) {
                    let code = data.code;
                    let mes = data.mes;
                    if (code == 200) {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.layer.msg(mes);
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        parent.layer.msg(mes);
                    }
                }, error: function (data) {
                    layer.msg('网络发送请求出错！请尝试刷新！', {icon: 5});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>