<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>摄像头</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
<form action="/user/submitUserList_2" method="post">
    ID:<input type="text" name="user[0].userid"><br/>
    Username:<input type="text" name="user[0].username"><br/>
    Password:<input type="text" name="user[0].pwd"><br/><br/>

    ID:<input type="text" name="user[1].userid"><br/>
    Username:<input type="text" name="user[1].username"><br/>
    Password:<input type="text" name="user[1].password"><br/><br/>
    <input type="submit" value="Submit">
</form>
<script type="text/javascript">

</script>
</body>
</html>